<mat-tab-group class="home-tabs" mat-stretch-tabs="false" appSwipeTabs>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">
        <mat-icon>send</mat-icon>
        {{ 'home.tabs.submit' | translate }}
      </span>
    </ng-template>
    <app-activity-input />
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">
        <mat-icon>leaderboard</mat-icon>
        {{ 'home.tabs.leaderboard' | translate }}
      </span>
    </ng-template>
    <app-activities-details [userScores]="userScores()" />
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">
        <mat-icon>emoji_events</mat-icon>
        {{ 'home.tabs.mightiestGovernor' | translate }}
      </span>
    </ng-template>
    <app-mightiest-governor />
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">
        <mat-icon>construction</mat-icon>
        {{ 'home.tabs.tools' | translate }}
      </span>
    </ng-template>
    <app-tools-hub />
  </mat-tab>
</mat-tab-group>
