<div class="alliance-settings-container">
  <mat-card class="page-header">
    <mat-card-header>
      <mat-icon class="header-icon">settings</mat-icon>
      <div class="header-content">
        <mat-card-title>{{ 'alliance.settings.title' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ alliance()?.name }}</mat-card-subtitle>
      </div>
    </mat-card-header>
  </mat-card>

  @if (isLoading()) {
    <div class="loading-container">
      <mat-spinner diameter="50"></mat-spinner>
      <p>{{ 'common.loading' | translate }}</p>
    </div>
  } @else {
    <mat-tab-group class="settings-tabs">
      <!-- Alliance Information Tab -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">info</mat-icon>
          {{ 'alliance.settings.tabs.information' | translate }}
        </ng-template>
        
        <app-alliance-info-tab
          [alliance]="alliance()"
          [membersCount]="members().length"
          [invitationsCount]="invitations().length"
          (allianceUpdated)="handleAllianceUpdated()"
        />
      </mat-tab>

      <!-- Members Tab -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">people</mat-icon>
          {{ 'alliance.settings.tabs.members' | translate }}
        </ng-template>
        
        <app-members-tab
          [members]="members()"
          [isLoading]="isLoading()"
        />
      </mat-tab>

      <!-- Invitations Tab -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">mail</mat-icon>
          {{ 'alliance.settings.tabs.invitations' | translate }}
        </ng-template>
        
        <app-invitations-tab
          [invitations]="invitations()"
          [isLoading]="isLoading()"
          (invitationCreated)="handleInvitationCreated()"
          (invitationRevoked)="handleInvitationRevoked()"
        />
      </mat-tab>

      <!-- Point Rules Tab -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">rule</mat-icon>
          {{ 'alliance.settings.tabs.pointRules' | translate }}
        </ng-template>
        
        <app-point-rules-tab
          [pointRules]="pointRules()"
          [isLoading]="isLoading()"
          (ruleCreated)="handleRuleCreated()"
          (ruleDeleted)="handleRuleDeleted()"
        />
      </mat-tab>

      <!-- Retroactive Activities Tab -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">history</mat-icon>
          {{ 'alliance.settings.tabs.retroactive' | translate }}
        </ng-template>
        
        <app-retroactive-activities-tab
          [members]="members()"
        />
      </mat-tab>
    </mat-tab-group>
  }
</div>
